*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1
{
    font-weight: lighter;
}
#square:hover{
    background-color: blue;
}
#diamond:hover{
    background-color: red;
}
#circule:hover{
    background-color: green;
}
.shape{
    margin-left: 10px; margin-top: 10px;

    height: 200px;
    width: 200px;   
    border: 1px solid black ;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circule{
    border-radius: 50%;
}
#diamond{
    rotate: 45deg;
    margin-top: 50px;
    height: 141px;
    width: 141px;
    translate: 30px;
}
#diamond H1{
    rotate: -45deg;
}